<!--Header Section-->
<%- include ("partials/_header") -%>

  <body>

    <!--Navigation Section-->
    <%- include("partials/_navigation") -%>

    <!--Navigation Section2-->
    <%- include("partials/_navigation2") -%>


        <div class="container">
          <div class="row ">
            <div class="col-sm-8 py-5 ml-lg-0 px-5">
              <h1>Lorem ipsum dolor sit amet</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, massa eget dapibus lacinia,
                lacus metus accumsan magna, bibendum pharetra neque nisi non tortor. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia curae; Nam malesuada nisi et metus vulputate accumsan.
                Pellentesque tincidunt sagittis semper. Pellentesque eu luctus ante. Integer in turpis ultrices, mattis
                turpis id, tristique dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum
                risus nec tincidunt imperdiet. Aenean faucibus congue sapien, a placerat orci. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Sed semper tortor vel consectetur porttitor. Nulla porta erat eu
                dolor imperdiet posuere. Morbi lacinia augue quis purus hendrerit, et gravida risus efficitur. Maecenas
                mauris sapien, ultrices quis ante non, fermentum molestie justo. Maecenas molestie quam non lectus
                sollicitudin hendrerit.
              </p>
              <p>
                Curabitur condimentum enim velit, sit amet placerat augue consequat a. Donec sit amet interdum sem.
                Donec tincidunt pretium lobortis. Sed et felis enim. Aliquam erat volutpat. Phasellus dapibus placerat
                mollis. In ac augue at diam aliquam blandit at eu ligula. Phasellus id lacus auctor, dapibus urna vel,
                molestie orci. Nunc auctor quis enim a bibendum. Curabitur sed elit ligula.
              </p>
              <p>
                Maecenas at fringilla est. Vestibulum rutrum risus sed ante dictum sodales. Fusce vestibulum varius
                nulla, quis consectetur eros hendrerit euismod. Praesent ut enim ac lectus sagittis malesuada sed a
                elit. Sed eros est, condimentum quis interdum ut, commodo fermentum justo. Fusce bibendum tortor luctus,
                tempor velit id, ultricies sem. Etiam lacinia ullamcorper mi sed fringilla. Suspendisse potenti.
              </p>
            </div>
            <div class="col-sm-4 py-5">
              <!-- <img src="https://picsum.photos/id/797/350/700"> -->
              <img class="mb-1" src="index/index1.jpeg">
              <img class="mb-1" src="index/index2.jpeg">
              <img src="index/index3.jpeg">


            </div>
          </div>
        </div>


        <!--Footer Section-->
        <%- include ("partials/_footer") -%>

  </body>

  </html>